In [1]:
import pandas as pd
import numpy as np

valencia_df = pd.read_csv('airbnb_valencia.csv')

- escribir una funcion llamada `predict_price` que utilice los knn para calcular el valor sugerido para cualquier valor de capacidad

In [2]:
# corregir los datos de la columna price
valencia_df['price'] = valencia_df['price'].str.replace(',', '').str.replace('$', '', regex=False).astype('float')

In [3]:
# barajar los datos
np.random.seed(2)
valencia_df = valencia_df.loc[np.random.permutation(len(valencia_df))]

In [12]:
def predict_price(mi_capacidad, df, k):
    temp_df = df.copy()
    temp_df['distance'] = temp_df['accommodates'].apply(lambda x: np.abs(mi_capacidad - x))
    return temp_df.sort_values('distance').iloc[0:k]['price'].mean()

In [7]:
predict_price(3, valencia_df, 5)

72.4

In [9]:
predict_price(8, valencia_df, 5)

244.4

In [10]:
predict_price(15, valencia_df, 5)

423.2

In [15]:
predict_price(3, valencia_df, 900)

76.03111111111112

In [17]:
predict_price(3, valencia_df, 1)

77.0

In [26]:
for i in range(1,20):
    print('capacidad', i, predict_price(i, valencia_df, 15))

capacidad 1 25.4
capacidad 2 62.0
capacidad 3 80.2
capacidad 4 161.0
capacidad 5 179.13333333333333
capacidad 6 95.8
capacidad 7 119.73333333333333
capacidad 8 250.33333333333334
capacidad 9 208.73333333333332
capacidad 10 223.0
capacidad 11 251.2
capacidad 12 280.06666666666666
capacidad 13 367.06666666666666
capacidad 14 379.1333333333333
capacidad 15 633.0
capacidad 16 633.0
capacidad 17 633.0
capacidad 18 633.0
capacidad 19 633.0

In [25]:
valencia_df[valencia_df['accommodates'] == 8][['accommodates', 'price']].describe()

       accommodates       price
count         195.0  195.000000
mean            8.0  187.466667
std             0.0  136.170423
min             8.0   35.000000
25%             8.0   96.000000
50%             8.0  143.000000
75%             8.0  250.000000
max             8.0  800.000000