Dataset:

https://archive.ics.uci.edu/ml/datasets/automobile

In [1]:
import pandas as pd
import numpy as np

In [5]:
coches = pd.read_csv('imports-85.data', names = [
   "symboling",
    "normalized-losses",
    "make",
    "fuel-type",
    "aspiration",
    "num-of-doors",
    "body-style",
    "drive-wheels",
    "engine-location",
    "wheel-base",
    "length",
    "width",
    "height",
    "curb-weight",
    "engine-type",
    "num-of-cylinders",
    "engine-size",
    "fuel-system",
    "bore",
    "stroke",
    "compression-ratio",
    "horsepower",
    "peak-rpm",
    "city-mpg",
    "highway-mpg",
    "price"
])

In [8]:
coches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [18]:
# reemplazo toddos los ? por nan (nulos)
coches = coches.replace('?', np.nan)

In [21]:
coches['normalized-losses']

0      NaN
1      NaN
2      NaN
3      164
4      164
      ...
200     95
201     95
202     95
203     95
204     95
Name: normalized-losses, Length: 205, dtype: object

In [24]:
coches['normalized-losses'].value_counts()

161    11
91      8
150     7
128     6
134     6
104     6
95      5
102     5
103     5
74      5
85      5
168     5
94      5
65      5
106     4
122     4
148     4
118     4
93      4
101     3
125     3
137     3
154     3
83      3
115     3
119     2
87      2
194     2
197     2
108     2
89      2
164     2
158     2
145     2
192     2
188     2
81      2
110     2
113     2
129     2
153     2
107     1
78      1
186     1
231     1
77      1
98      1
121     1
90      1
142     1
256     1
Name: normalized-losses, dtype: int64

In [27]:
coches['normalized-losses'] = coches['normalized-losses'].astype('float')

In [29]:
coches

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [40]:
coches_numericos = coches[['symboling', 'normalized-losses', 'num-of-doors', 'wheel-base', 'engine-size', 'bore',
                          'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']].copy()

In [41]:
coches_numericos['num-of-doors'].value_counts()

four    114
two      89
Name: num-of-doors, dtype: int64

In [42]:
coches_numericos['num-of-doors'] = coches_numericos['num-of-doors'].apply(lambda x: 4 if x == 'four' else 2)

In [43]:
coches_numericos

,symboling,normalized-losses,num-of-doors,wheel-base,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,2,88.6,130,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,2,88.6,130,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,2,94.5,152,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,4,99.8,109,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164.0,4,99.4,136,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,4,109.1,141,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95.0,4,109.1,141,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95.0,4,109.1,173,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95.0,4,109.1,145,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95.0,4,109.1,141,3.78,3.15,9.5,114,5400,19,25,22625

In [44]:
coches_numericos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   num-of-doors       205 non-null    int64
 3   wheel-base         205 non-null    float64
 4   engine-size        205 non-null    int64
 5   bore               201 non-null    object
 6   stroke             201 non-null    object
 7   compression-ratio  205 non-null    float64
 8   horsepower         203 non-null    object
 9   peak-rpm           203 non-null    object
 10  city-mpg           205 non-null    int64
 11  highway-mpg        205 non-null    int64
 12  price              201 non-null    object
dtypes: float64(3), int64(5), object(5)
memory usage: 20.9+ KB

In [47]:
coches_numericos = coches_numericos.astype('float')

In [49]:
# el precio es la columna que queremos predecir -  no tienen sentido los datos sin precio
coches_numericos = coches_numericos.dropna(subset=['price'])

In [52]:
coches_numericos.isnull().sum()

symboling             0
normalized-losses    37
num-of-doors          0
wheel-base            0
engine-size           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [56]:
coches_numericos['horsepower'] = coches_numericos['horsepower'].fillna(coches_numericos['horsepower'].mean())

In [58]:
coches_numericos.isnull().sum()

symboling             0
normalized-losses    37
num-of-doors          0
wheel-base            0
engine-size           0
bore                  4
stroke                4
compression-ratio     0
horsepower            0
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [60]:
coches_numericos.mean()

symboling                0.840796
normalized-losses      122.000000
num-of-doors             3.124378
wheel-base              98.797015
engine-size            126.875622
bore                     3.330711
stroke                   3.256904
compression-ratio       10.164279
horsepower             103.396985
peak-rpm              5117.587940
city-mpg                25.179104
highway-mpg             30.686567
price                13207.129353
dtype: float64

In [62]:
coches_numericos = coches_numericos.fillna(coches_numericos.mean())

In [63]:
coches_numericos.isnull().sum()

symboling            0
normalized-losses    0
num-of-doors         0
wheel-base           0
engine-size          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [64]:
# Normalizamos las columnas
price = coches_numericos['price']
coches_numericos = (coches_numericos - coches_numericos.mean())/coches_numericos.std()

In [67]:
coches_numericos['price'] = price

In [68]:
coches_numericos

,symboling,normalized-losses,num-of-doors,wheel-base,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,1.720753,0.000000,-1.130355,-1.680910,0.075201,0.519597,-1.825369,-0.290709,0.203476,-0.245942,-0.650624,-0.540937,13495.0
1,1.720753,0.000000,-1.130355,-1.680910,0.075201,0.519597,-1.825369,-0.290709,0.203476,-0.245942,-0.650624,-0.540937,16500.0
2,0.126876,0.000000,-1.130355,-0.708334,0.604724,-2.427374,0.674254,-0.290709,1.354267,-0.245942,-0.961995,-0.687669,16500.0
3,0.923814,1.312654,0.880276,0.165335,-0.430252,-0.524899,0.452769,-0.041019,-0.037387,0.799836,-0.183569,-0.100741,13950.0
4,0.923814,1.312654,0.880276,0.099398,0.219617,-0.524899,0.452769,-0.540399,0.310527,0.799836,-1.117680,-1.274597,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1.467002,-0.843849,0.880276,1.698379,0.339963,1.676004,-0.338251,-0.165864,0.283764,0.590680,-0.339254,-0.394205,16845.0
201,-1.467002,-0.843849,0.880276,1.698379,0.339963,1.676004,-0.338251,-0.365616,1.514843,0.381525,-0.961995,-0.834401,19045.0
202,-1.467002,-0.843849,0.880276,1.698379,1.110178,0.929935,-1.224194,-0.340647,0.819016,0.799836,-1.117680,-1.127865,21485.0
203,-1.467002,-0.843849,0.880276,1.698379,0.436240,-1.196361,0.452769,3.204952,0.069663,-0.664253,0.127801,-0.540937,22470.0
204,-1.467002,-0.843849,0.880276,1.698379,0.339963,1.676004,-0.338251,-0.165864,0.283764,0.590680,-0.961995,-0.834401,22625.0

# univariate

In [72]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

In [74]:
def knn_train_test(train_col, target_col, df):
    """
    Calcule la predicción y me devuelva el RMSE en base a una serie de columnas 
    predictoras y una target a predecir
    """
    # Crearemos la instancia del objeto de KNeighborsRegressor
    # Barajaremos las filas en el dataframe
    # Crearemos los conjuntos de entrenamiento y de test
    # Haremos el fit del model usando k=5
    # Crearemos las predicciones 
    # Calcularemos y devolveremos el rmse

In [75]:
# Calcular el RMSE de cada una de las columnas numéricas
# veremos qué columnas nos predice mejor el precio

In [ ]:
# multivariate
# comprobaremos varias combinaciones, incluyendo la de 'todas las columnas'

# probaremos varios valores de k