Dataset:

https://archive.ics.uci.edu/ml/datasets/automobile

In [1]:
import pandas as pd
import numpy as np

In [2]:
coches = pd.read_csv('imports-85.data', names = [
   "symboling",
    "normalized-losses",
    "make",
    "fuel-type",
    "aspiration",
    "num-of-doors",
    "body-style",
    "drive-wheels",
    "engine-location",
    "wheel-base",
    "length",
    "width",
    "height",
    "curb-weight",
    "engine-type",
    "num-of-cylinders",
    "engine-size",
    "fuel-system",
    "bore",
    "stroke",
    "compression-ratio",
    "horsepower",
    "peak-rpm",
    "city-mpg",
    "highway-mpg",
    "price"
])

In [3]:
coches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [4]:
# reemplazo toddos los ? por nan (nulos)
coches = coches.replace('?', np.nan)

In [5]:
coches['normalized-losses']

0      NaN
1      NaN
2      NaN
3      164
4      164
      ...
200     95
201     95
202     95
203     95
204     95
Name: normalized-losses, Length: 205, dtype: object

In [6]:
coches['normalized-losses'].value_counts()

161    11
91      8
150     7
128     6
134     6
104     6
95      5
102     5
103     5
74      5
85      5
168     5
94      5
65      5
106     4
122     4
148     4
118     4
93      4
101     3
125     3
137     3
154     3
83      3
115     3
119     2
87      2
194     2
197     2
108     2
89      2
164     2
158     2
145     2
192     2
188     2
81      2
110     2
113     2
129     2
153     2
107     1
78      1
186     1
231     1
77      1
98      1
121     1
90      1
142     1
256     1
Name: normalized-losses, dtype: int64

In [7]:
coches['normalized-losses'] = coches['normalized-losses'].astype('float')

In [8]:
coches

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [9]:
coches_numericos = coches[['symboling', 'normalized-losses', 'num-of-doors', 'wheel-base', 'engine-size', 'bore',
                          'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']].copy()

In [10]:
coches_numericos['num-of-doors'].value_counts()

four    114
two      89
Name: num-of-doors, dtype: int64

In [11]:
coches_numericos['num-of-doors'] = coches_numericos['num-of-doors'].apply(lambda x: 4 if x == 'four' else 2)

In [12]:
coches_numericos

,symboling,normalized-losses,num-of-doors,wheel-base,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,2,88.6,130,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,2,88.6,130,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,2,94.5,152,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,4,99.8,109,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164.0,4,99.4,136,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,4,109.1,141,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95.0,4,109.1,141,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95.0,4,109.1,173,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95.0,4,109.1,145,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95.0,4,109.1,141,3.78,3.15,9.5,114,5400,19,25,22625

In [13]:
coches_numericos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   num-of-doors       205 non-null    int64
 3   wheel-base         205 non-null    float64
 4   engine-size        205 non-null    int64
 5   bore               201 non-null    object
 6   stroke             201 non-null    object
 7   compression-ratio  205 non-null    float64
 8   horsepower         203 non-null    object
 9   peak-rpm           203 non-null    object
 10  city-mpg           205 non-null    int64
 11  highway-mpg        205 non-null    int64
 12  price              201 non-null    object
dtypes: float64(3), int64(5), object(5)
memory usage: 20.9+ KB

In [14]:
coches_numericos = coches_numericos.astype('float')

In [15]:
# el precio es la columna que queremos predecir -  no tienen sentido los datos sin precio
coches_numericos = coches_numericos.dropna(subset=['price'])

In [16]:
coches_numericos.isnull().sum()

symboling             0
normalized-losses    37
num-of-doors          0
wheel-base            0
engine-size           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [17]:
coches_numericos['horsepower'] = coches_numericos['horsepower'].fillna(coches_numericos['horsepower'].mean())

In [18]:
coches_numericos.isnull().sum()

symboling             0
normalized-losses    37
num-of-doors          0
wheel-base            0
engine-size           0
bore                  4
stroke                4
compression-ratio     0
horsepower            0
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [19]:
coches_numericos.mean()

symboling                0.840796
normalized-losses      122.000000
num-of-doors             3.124378
wheel-base              98.797015
engine-size            126.875622
bore                     3.330711
stroke                   3.256904
compression-ratio       10.164279
horsepower             103.396985
peak-rpm              5117.587940
city-mpg                25.179104
highway-mpg             30.686567
price                13207.129353
dtype: float64

In [20]:
coches_numericos = coches_numericos.fillna(coches_numericos.mean())

In [21]:
coches_numericos.isnull().sum()

symboling            0
normalized-losses    0
num-of-doors         0
wheel-base           0
engine-size          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [22]:
# Normalizamos las columnas
price = coches_numericos['price']
coches_numericos = (coches_numericos - coches_numericos.mean())/coches_numericos.std()

In [23]:
coches_numericos['price'] = price

In [24]:
coches_numericos

,symboling,normalized-losses,num-of-doors,wheel-base,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,1.720753,0.000000,-1.130355,-1.680910,0.075201,0.519597,-1.825369,-0.290709,0.203476,-0.245942,-0.650624,-0.540937,13495.0
1,1.720753,0.000000,-1.130355,-1.680910,0.075201,0.519597,-1.825369,-0.290709,0.203476,-0.245942,-0.650624,-0.540937,16500.0
2,0.126876,0.000000,-1.130355,-0.708334,0.604724,-2.427374,0.674254,-0.290709,1.354267,-0.245942,-0.961995,-0.687669,16500.0
3,0.923814,1.312654,0.880276,0.165335,-0.430252,-0.524899,0.452769,-0.041019,-0.037387,0.799836,-0.183569,-0.100741,13950.0
4,0.923814,1.312654,0.880276,0.099398,0.219617,-0.524899,0.452769,-0.540399,0.310527,0.799836,-1.117680,-1.274597,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1.467002,-0.843849,0.880276,1.698379,0.339963,1.676004,-0.338251,-0.165864,0.283764,0.590680,-0.339254,-0.394205,16845.0
201,-1.467002,-0.843849,0.880276,1.698379,0.339963,1.676004,-0.338251,-0.365616,1.514843,0.381525,-0.961995,-0.834401,19045.0
202,-1.467002,-0.843849,0.880276,1.698379,1.110178,0.929935,-1.224194,-0.340647,0.819016,0.799836,-1.117680,-1.127865,21485.0
203,-1.467002,-0.843849,0.880276,1.698379,0.436240,-1.196361,0.452769,3.204952,0.069663,-0.664253,0.127801,-0.540937,22470.0
204,-1.467002,-0.843849,0.880276,1.698379,0.339963,1.676004,-0.338251,-0.165864,0.283764,0.590680,-0.961995,-0.834401,22625.0

# univariate

In [32]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
import math

In [48]:
def knn_train_test(train_col, target_col, df):
    """
    Calcule la predicción y me devuelva el RMSE en base a una serie de columnas 
    predictoras y una target a predecir
    """
    # Crearemos la instancia del objeto de KNeighborsRegressor
    knn = KNeighborsRegressor()
    
    # Barajaremos las filas en el dataframe
    np.random.seed(1)
    coches_random = coches_numericos.reindex(np.random.permutation(coches_numericos.index))
    # Crearemos los conjuntos de entrenamiento y de test
    split_value = math.trunc(len(coches_random)*0.8)
    train_df = coches_random.iloc[0:split_value]
    test_df = coches_random.iloc[split_value:]
    
    # Haremos el fit del model usando k=5
    knn.fit(train_df[[train_col]], train_df[target_col])
    
    # Crearemos las predicciones 
    predictions = knn.predict(test_df[[train_col]])
    # Calcularemos y devolveremos el rmse
    mse = mean_squared_error(test_df[[target_col]], predictions)
    
    return mse**0.5

In [49]:
# Calcular el RMSE de cada una de las columnas numéricas
# veremos qué columnas nos predice mejor el precio
for col in ['symboling', 'normalized-losses', 'num-of-doors', 'wheel-base', 'engine-size', 'bore',
                          'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg']:
    print('col', col)
    print(col, knn_train_test(col, 'price', coches_numericos))

col symboling
symboling 8180.8284500275695
col normalized-losses
normalized-losses 6574.815386149729
col num-of-doors
num-of-doors 8823.637764605684
col wheel-base
wheel-base 4676.644159765971
col engine-size
engine-size 3177.6732153282587
col bore
bore 7346.6164918977765
col stroke
stroke 6886.320496285442
col compression-ratio
compression-ratio 6566.863204924793
col horsepower
horsepower 5017.621084372699
col peak-rpm
peak-rpm 7690.934116756734
col city-mpg
city-mpg 4244.277522247297
col highway-mpg
highway-mpg 3751.745582018472

In [51]:
# multivariate
# comprobaremos varias combinaciones, incluyendo la de 'todas las columnas'
def knn_train_test_multi(train_cols, target_col, df):
    """
    Calcule la predicción y me devuelva el RMSE en base a una serie de columnas 
    predictoras y una target a predecir
    """
    # Crearemos la instancia del objeto de KNeighborsRegressor
    knn = KNeighborsRegressor()
    
    # Barajaremos las filas en el dataframe
    np.random.seed(1)
    coches_random = coches_numericos.reindex(np.random.permutation(coches_numericos.index))
    # Crearemos los conjuntos de entrenamiento y de test
    split_value = math.trunc(len(coches_random)*0.8)
    train_df = coches_random.iloc[0:split_value]
    test_df = coches_random.iloc[split_value:]
    
    # Haremos el fit del model usando k=5
    knn.fit(train_df[train_cols], train_df[target_col])
    
    # Crearemos las predicciones 
    predictions = knn.predict(test_df[train_cols])
    # Calcularemos y devolveremos el rmse
    mse = mean_squared_error(test_df[[target_col]], predictions)
    
    return mse**0.5

In [53]:
knn_train_test_multi(['engine-size', 'highway-mpg', 'horsepower'], 'price', coches_numericos)

3004.2596797571673

In [54]:
knn_train_test_multi(['symboling', 'normalized-losses', 'num-of-doors', 'wheel-base', 'engine-size', 'bore',
                          'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg'], 'price', coches_numericos)

2935.3144928111733

In [55]:
knn_train_test_multi(['engine-size',  'horsepower'], 'price', coches_numericos)

2891.0302601110993

In [58]:
coches_numericos.corr()

,symboling,normalized-losses,num-of-doors,wheel-base,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
symboling,1.000000,0.466264,-0.665055,-0.535987,-0.110581,-0.139896,-0.007992,-0.182196,0.075790,0.279719,-0.035527,0.036233,-0.082391
normalized-losses,0.466264,1.000000,-0.368554,-0.056661,0.112360,-0.029800,0.055127,-0.114713,0.217300,0.239544,-0.225016,-0.181877,0.133999
num-of-doors,-0.665055,-0.368554,1.000000,0.452476,0.032195,0.127869,-0.016226,0.143674,-0.091601,-0.229609,-0.042632,-0.061339,0.051253
wheel-base,-0.535987,-0.056661,0.452476,1.000000,0.572027,0.493203,0.157964,0.250313,0.371250,-0.360233,-0.470606,-0.543304,0.584642
engine-size,-0.110581,0.112360,0.032195,0.572027,1.000000,0.572516,0.205806,0.028889,0.822649,-0.256753,-0.650546,-0.679571,0.872335
bore,-0.139896,-0.029800,0.127869,0.493203,0.572516,1.000000,-0.055390,0.001250,0.566838,-0.267338,-0.582121,-0.591390,0.543154
stroke,-0.007992,0.055127,-0.016226,0.157964,0.205806,-0.055390,1.000000,0.187854,0.097815,-0.063720,-0.034079,-0.034741,0.082267
compression-ratio,-0.182196,-0.114713,0.143674,0.250313,0.028889,0.001250,0.187854,1.000000,-0.214431,-0.435721,0.331425,0.268465,0.071107
horsepower,0.075790,0.217300,-0.091601,0.371250,0.822649,0.566838,0.097815,-0.214431,1.000000,0.107882,-0.822138,-0.804587,0.809681
peak-rpm,0.279719,0.239544,-0.229609,-0.360233,-0.256753,-0.267338,-0.063720,-0.435721,0.107882,1.000000,-0.115358,-0.058605,-0.101542
city-mpg,-0.035527,-0.225016,-0.042632,-0.470606,-0.650546,-0.582121,-0.034079,0.331425,-0.822138,-0.115358,1.000000,0.972044,-0.686571
highway-mpg,0.036233,-0.181877,-0.061339,-0.543304,-0.679571,-0.591390,-0.034741,0.268465,-0.804587,-0.058605,0.972044,1.000000,-0.704692
price,-0.082391,0.133999,0.051253,0.584642,0.872335,0.543154,0.082267,0.071107,0.809681,-0.101542,-0.686571,-0.704692,1.000000

In [60]:
prediction_cols = ['wheel-base', 'engine-size', 'bore', 'horsepower', 'city-mpg', 'highway-mpg']

In [62]:
knn_train_test_multi(prediction_cols, 'price',  coches_numericos)

2960.0928681871933

In [63]:
knn_train_test_multi(['bore',  'horsepower'], 'price', coches_numericos)

5385.1483286861485

In [64]:
# multivariate
# comprobaremos varias combinaciones, incluyendo la de 'todas las columnas'
def knn_final(train_cols, target_col, df):
    """
    Calcule la predicción y me devuelva el RMSE en base a una serie de columnas 
    predictoras y una target a predecir
    """

    
    # Barajaremos las filas en el dataframe
    np.random.seed(1)
    coches_random = coches_numericos.reindex(np.random.permutation(coches_numericos.index))
    # Crearemos los conjuntos de entrenamiento y de test
    split_value = math.trunc(len(coches_random)*0.8)
    train_df = coches_random.iloc[0:split_value]
    test_df = coches_random.iloc[split_value:]
    
    k_values = range(1,10)
    k_rmse = {}
    
    for k in k_values:
        # Crearemos la instancia del objeto de KNeighborsRegressor
        knn = KNeighborsRegressor(n_neighbors = k)
        # Haremos el fit del model usando k=k
        knn.fit(train_df[train_cols], train_df[target_col])
        # Crearemos las predicciones 
        predictions = knn.predict(test_df[train_cols])
        # Calcularemos y devolveremos el rmse
        mse = mean_squared_error(test_df[[target_col]], predictions)
        k_rmse[k] = mse**0.5
    
    return k_rmse

In [65]:
# probaremos varios valores de k
knn_final(['engine-size',  'horsepower'], 'price', coches_numericos)

{1: 2477.2111285899223,
 2: 2389.358763095339,
 3: 2510.050234870174,
 4: 2781.615139363565,
 5: 2891.0302601110993,
 6: 2823.563090208938,
 7: 2917.1900833813343,
 8: 3055.272627338321,
 9: 3129.013716829698}