In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/afoone/caipc-laberit-jul2022/master/Ecom%20Expense.csv')

In [4]:
data.head()

,Transaction ID,Age,Items,Monthly Income,Transaction Time,Record,Gender,City Tier,Total Spend
0,TXN001,42,10,7313,627.668127,5,Female,Tier 1,4198.385084
1,TXN002,24,8,17747,126.904567,3,Female,Tier 2,4134.976648
2,TXN003,47,11,22845,873.469701,2,Male,Tier 2,5166.614455
3,TXN004,50,11,18552,380.219428,7,Female,Tier 1,7784.447676
4,TXN005,60,2,14439,403.374223,2,Female,Tier 2,3254.160485

In [5]:
data['Gender'].apply(lambda x: 0 if x == "Male" else 1)

0       1
1       1
2       0
3       1
4       1
       ..
2357    0
2358    0
2359    1
2360    1
2361    0
Name: Gender, Length: 2362, dtype: int64

In [6]:
data['Gender'].value_counts()

Male      1200
Female    1162
Name: Gender, dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2362 entries, 0 to 2361
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    2362 non-null   object
 1   Age               2362 non-null   int64
 2    Items            2362 non-null   int64
 3   Monthly Income    2362 non-null   int64
 4   Transaction Time  2362 non-null   float64
 5   Record            2362 non-null   int64
 6   Gender            2362 non-null   object
 7   City Tier         2362 non-null   object
 8   Total Spend       2362 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 166.2+ KB

In [9]:
data['Gender'].apply(lambda x: 1 if x=="Female" else 0)

0       1
1       1
2       0
3       1
4       1
       ..
2357    0
2358    0
2359    1
2360    1
2361    0
Name: Gender, Length: 2362, dtype: int64

In [10]:
data['Gender'].apply(lambda x: 1 if x=="Male" else 0)

0       0
1       0
2       1
3       0
4       0
       ..
2357    1
2358    1
2359    0
2360    0
2361    1
Name: Gender, Length: 2362, dtype: int64

In [13]:
dummy_gender = pd.get_dummies(data['Gender'], prefix='gender')

In [17]:
dummy_tier = pd.get_dummies(data['City Tier'], prefix="T")

In [18]:
dummy_tier

      T_Tier 1  T_Tier 2  T_Tier 3
0            1         0         0
1            0         1         0
2            0         1         0
3            1         0         0
4            0         1         0
...        ...       ...       ...
2357         0         1         0
2358         0         1         0
2359         0         0         1
2360         1         0         0
2361         1         0         0

[2362 rows x 3 columns]

In [19]:
data_ready = data.join(dummy_gender).join(dummy_tier)

In [20]:
data_ready

,Transaction ID,Age,Items,Monthly Income,Transaction Time,Record,Gender,City Tier,Total Spend,gender_Female,gender_Male,T_Tier 1,T_Tier 2,T_Tier 3
0,TXN001,42,10,7313,627.668127,5,Female,Tier 1,4198.385084,1,0,1,0,0
1,TXN002,24,8,17747,126.904567,3,Female,Tier 2,4134.976648,1,0,0,1,0
2,TXN003,47,11,22845,873.469701,2,Male,Tier 2,5166.614455,0,1,0,1,0
3,TXN004,50,11,18552,380.219428,7,Female,Tier 1,7784.447676,1,0,1,0,0
4,TXN005,60,2,14439,403.374223,2,Female,Tier 2,3254.160485,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2357,TXN2358,50,7,5705,460.157207,3,Male,Tier 2,2909.619546,0,1,0,1,0
2358,TXN2359,35,11,11202,851.924751,8,Male,Tier 2,7968.633136,0,1,0,1,0
2359,TXN2360,27,5,21335,435.145358,8,Female,Tier 3,8816.406448,1,0,0,0,1
2360,TXN2361,45,12,19294,658.439838,7,Female,Tier 1,7915.595856,1,0,1,0,0
2361,TXN2362,46,7,2855,560.514341,8,Male,Tier 1,6832.401686,0,1,1,0,0

In [23]:
data_ready = data_ready.drop(['Gender', 'City Tier'], axis=1)

KeyError: "['Gender', 'City Tier'] not found in axis"

In [26]:
data_ready = data_ready.drop(['Transaction Time', 'Transaction ID'], axis = 1)

In [36]:
data_ready.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2362 entries, 0 to 2361
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             2362 non-null   int64
 1    Items          2362 non-null   int64
 2   Monthly Income  2362 non-null   int64
 3   Record          2362 non-null   int64
 4   Total Spend     2362 non-null   float64
 5   gender_Female   2362 non-null   uint8
 6   gender_Male     2362 non-null   uint8
 7   T_Tier 1        2362 non-null   uint8
 8   T_Tier 2        2362 non-null   uint8
 9   T_Tier 3        2362 non-null   uint8
dtypes: float64(1), int64(4), uint8(5)
memory usage: 103.9 KB

In [39]:
lr = LinearRegression()


data_ready.columns

Index(['Age ', ' Items ', 'Monthly Income', 'Record', 'Total Spend',
       'gender_Female', 'gender_Male', 'T_Tier 1', 'T_Tier 2', 'T_Tier 3'],
      dtype='object')

In [45]:
lr.fit(
    data_ready[['Age ', 'Monthly Income', 
       'gender_Female', 'gender_Male', 'T_Tier 1', 'T_Tier 2', 'T_Tier 3']],
    data_ready['Total Spend']
)

LinearRegression()

In [46]:
lr.intercept_

3438.284541625677

In [47]:
lr.coef_

array([   7.08070485,    0.1526704 ,  -97.83402512,   97.83402512,
        121.73598683,  -20.39003665, -101.34595018])

In [50]:
lr.score(
    data_ready[['Age ', 'Monthly Income', 'Record',
       'gender_Female', 'gender_Male', 'T_Tier 1', 'T_Tier 2', 'T_Tier 3']],
    data_ready['Total Spend']
)

/Users/atienda/miniforge3/envs/caipc/lib/python3.10/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Record

  warnings.warn(message, FutureWarning)

ValueError: X has 8 features, but LinearRegression is expecting 7 features as input.

In [51]:
lr = LinearRegression()
lr.fit(
    data_ready[['Age ', 'Monthly Income', 'Record',
       'gender_Female', 'gender_Male', 'T_Tier 1', 'T_Tier 2', 'T_Tier 3']],
    data_ready['Total Spend']
)
lr.score(
    data_ready[['Age ', 'Monthly Income', 'Record',
       'gender_Female', 'gender_Male', 'T_Tier 1', 'T_Tier 2', 'T_Tier 3']],
    data_ready['Total Spend']
)

0.9184914879534127